*, *:before, *:after {
  box-sizing: inherit;
}

#content{

}

#maincontent{
background: #A4A4A4;

}
body{

  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  background-color: cyan;

}
main{
  display: flex;
  flex-direction: column;
}

nav, section,header, footer,main
{
  padding: 1em;
  width: 75%;
  margin: 0 auto;
}
section{
  background-color: white;
}
article{
  background-color: white;
 }
 nav{
  margin-top: -1.5em;
  border-radius: 1em 1em 0em 0em;
 background-color: black;
 }
nav div{
background-color: black;

}

nav div a {
padding: 1%;
margin: 0 auto;
font-size: 1.5vw;
color: white;
text-decoration: none;
z-index:80;
}

nav a:hover{
color: #D4B928;
}


header{
  display: inline-block;
  background-color: lightgray;
}
header img{
  float:left;
}
header h1{
  position:relative;
}
footer{
 background-color: black;
 border-radius: 0em 0em 1em 1em;
}
.footerSection{
  display:inline-block;
  font-size: 0.7vw;
  vertical-align: top;
  background-color: black;
  padding: 0.5em;
  color:white;
  margin:auto;
  font-size: 0.8vw;
}
#companylogo{
height: auto;
width: 6vw;
}
#copyright{
  color: white;
  text-align: center;
  font-size: 0.7vw;
}

h1{

font-size: 2vw;
text-align: center;
font-weight: bold;
}

h2{
font-size: 1.5vw;
}
h5{
  font-size:1.5vw;
}
#rssLink
{
  color
}

/*
essential styles:
these make the slideshow work
*/

#slides {
    position: relative;
    height: 300px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}
.slide {
    padding: 1em;
    box-sizing: border-box;
    background: #333;
    color: #fff;
    border-radius:0.8em;
}

.slide:nth-of-type(1) {
    background: red;
}
.slide:nth-of-type(2) {
    background: orange;
}
.slide:nth-of-type(3) {
    background: green;
}
.slide:nth-of-type(4) {
    background: lightblue;
}
.slide:nth-of-type(5) {
    background: purple;
}
.thumbnail {
  float:left;
  display: inline-block;
  border-style:solid;
}
.slideShowDiv{
  background-color: navy;
  display: inline-block;
  border-style:dotted;
  margin-left: 1em;
  padding:1em;
  width: 15em;
}
.slideShowDiv a{
  color: pink;
  text-decoration: none;
}
/*.slideshow-projects {
  max-width: 100%;
  position: relative;
  margin: 1em;
  height: 500px;
  overflow: hidden;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -50px;
  padding: 5px;
  color: black;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.2);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}*/

@-webkit-keyframes fade {
  from {
    opacity: .6
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .6
  }
  to {
    opacity: 1
  }
}

/*footer {
display: inline-flex;
justify-content: space-around;
background: lightpink;
color: white;
}*/


/*#copyright{
font-size: 0.5vw;

border: 2px solid black;
background: DarkSlateGray ;
}*/
/* mediascreen mobil*/

@media screen and (max-width:599px){
  *{
    font-size: 3vw;
  }
nav,header,main,article,section, footer{
  width:100%;

}
h1{
  font-size:8vw;
}
h2{
  font-size: 6vw;
}
h5{
  font-size: 4vw;
}
#slides, .slideControls{
  display:none;
}
#links a{
font-size: 7vw;
transition: all 0.2s;
}
#links a:hover{
transform: scale(1.2);
}

#links{
display: none;
position: fixed;
background: navy;
flex-direction: column;
z-index: 101;
}
.slideshow-projects {
  max-width: 100%;
  position: relative;
  margin: auto;
  height: 300px;
  overflow: hidden;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1px;
  color: black;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.2);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: .6
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .6
  }
  to {
    opacity: 1
  }
}


}
