*, *:before, *:after {
  box-sizing: inherit;
}

#content{
display: flex;
flex-direction: column;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#maincontent{
background: #A4A4A4;

}
body{
height: 100%;
width: 90%;
margin: 0 auto;

}

article{
width: 90%;
margin: 0 auto;
 }

#burger{
display:none;
}
#close{
display:none;
margin-left: 5%;
width: 8vw;
align-self: flex-start;
z-index:999;
}

nav div{
display: flex;
justify-content: space-around;
overflow: hidden;
padding: 1%;
border: 1px solid grey;
background-color: black;

}

nav div a {
display: inline-flex;
padding: 1%;
margin: 0 auto;
font-size: 2vw;
color: white;
text-decoration: none;
z-index:80;
}

nav a:hover{
color: #D4B928;
}


header{
  background-color: #D8D8D8;

}

#companylogo{
height: auto;
width: 10vw;
position: absolute;
z-index: 7;
margin-top: -2%;
}

h1{

font-size: 7vw;
text-align: center;
font-weight: bold;
}

h2{
font-size: 3vw;
margin-bottom: -1%;
}

p{
font-size: 2vw;
}

.slideshow-projects {
  max-width: 100%;
  position: relative;
  margin: 1em;
  height: 500px;
  overflow: hidden;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -50px;
  padding: 5px;
  color: black;
  font-size: 40px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.2);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: .6
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .6
  }
  to {
    opacity: 1
  }
}

footer {
display: inline-flex;
justify-content: space-around;
background: black;
color: white;
}
#copyright{
font-size: 2vw;
padding: 1%;
border: 2px solid black;
background: DarkSlateGray ;
}
/* mediascreen mobil*/

@media screen and (max-width:599px){

#burger{
display: flex;
width: 8vw;
}
#links a{
font-size: 7vw;
transition: all 0.2s;
}
#links a:hover{
transform: scale(1.2);
}

#links{
display: none;
position: fixed;
height: 100%;
width: 100%;
background: rgba(0,0,0,0.9);
flex-direction: column;
z-index: 101;
}
.slideshow-projects {
  max-width: 100%;
  position: relative;
  margin: auto;
  height: 300px;
  overflow: hidden;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1px;
  color: black;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.2);
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s;
}

@-webkit-keyframes fade {
  from {
    opacity: .6
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .6
  }
  to {
    opacity: 1
  }
}


}
